header{
    height: 1464px;
    width: 300px;
    float: left;
    margin: 20px;
    padding: 50px;
    background: #1B3A4B;
    font-size: 10px;
    border: 1px solid #212F45;
    text-align: center;
    color: white;
    letter-spacing: 5px;
}
header a{
    font-family: "Gill Sans Extrabold", sans-serif;
    padding: 30px 16px;
    display: inline-block;
    color: white;
    text-decoration:none;
    font-size: 20px;
}
nav{
    background-color:#e5cad4;
    text-align: center;
    font-family: Arial;
    height: 250px;
}
nav h1{
    padding:90px;
    color: #272640;
}
body{
    background:linear-gradient(to bottom, #4D194D, #006466);
}

img{
    width: 10%;
    height: 10%;
    float: left;
}

h1,p{
    font-family: "Gill Sans Extrabold", sans-serif;
    color:white;
    text-align: center;
}
main{
    padding: 20px;
}
main::after{
    content: "";
    clear: both;
    display: table;
}
article{
    float: left;
    width: 70%;
}
.sectionskill{
    background-color: aliceblue;
    height: 500px;
}
section{
    background-color: aliceblue;
    height: 720px;
}
section p{
    color: #4D194D;
    font-size: 20px;
}
.pie{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background: #006466; 
    background-image: linear-gradient(to right, transparent 50%, aliceblue 0);
    margin: 105px;
    float: left;
}
    
.pie::before{
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0/50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(.4turn);
}

.pie1{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background: #1B3A4B; 
    background-image: linear-gradient(to right, transparent 50%, aliceblue 0);
    margin: 105px;
    float: left;
}
    
.pie1::before{
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0/50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(.3turn);
}

.pie2{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background: #212F45; 
    background-image: linear-gradient(to right, transparent 50%, aliceblue 0);
    margin: 105px;
    float: left;
}
    
.pie2::before{
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0/50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(.2turn);
}

.pie3{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background: #272640; 
    background-image: linear-gradient(to right, transparent 50%, aliceblue 0);
    margin: 105px;
    float: left;
}
    
.pie3::before{
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0/50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(.3turn);
}

h2{
    color: #4D194D;
    text-align: center;
    font-size: 350%;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.block1,.block2,.block3,.block4{
    float: left;
}
.block1{
    background-color: #006466;
    width: 150px;
    height: 150px;
    margin:80px;
}
.block2{
    background-color: #1B3A4B;
    width: 150px;
    height: 150px;
    margin:80px;
}
.block3{
    background-color: #212F45;
    width: 150px;
    height: 150px;
    margin:80px;
}
.block4{
    background-color: #272640;
    width: 150px;
    height: 150px;
    margin:80px;
}
